.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 170px;
}

.header__title{
    color: var(--gray100);
    font-size: 1.5rem;
    font-weight: 500;
}

.header__div-profile{
    display: flex;
    align-items: center;
    gap: 11px;
}

.div-profile__create-post{
    background-color: var(--brand100);
    padding: 10px 0;
    width: 155px;
    color: var(--gray900);
    font-size: 1rem;
}

.div-profile__img{
    border-radius: 100%;
    border: 1px solid var(--brand100);
    width: 41px;
    height: 41px;
    overflow: hidden; 
}

img{
    object-fit: cover;
}

.main{
    display: flex;
    flex-direction: column;
    gap: 33px;
    margin-top: 15px;
}

.main__title-feed{
    color: var(--gray100);
    font-size: 1.25rem;
    font-weight: 500;
}

.main__list-posts{
    display: flex;
    flex-direction: column;
    gap: 64px;
    width: 100%;
}

.list-posts__post{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 22px;
}

.post__div-user{
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: space-between;
}

.div-user__div{
    display: flex;
    gap: 8px;
}

.div__img-post{
    width: 32px;
    height: 32px;
    border-radius: 100%;
    overflow: hidden; 
}

.div__div-span{
    display: flex;
    gap: 12px;
    align-items: center;
}

.div-span__name-user{
    font-weight: 0.875rem;
    font-weight: 500;
    color: var(--gray100);
}

.div-span__grey{
    width: 2px;
    height: 20px;
    background-color: var(--gray600);
}

.div-span__date{
    color: var(--gray400); 
    font-size: 0.875rem;
    font-weight: 500;
}

.post__div-buttons{
    display: flex;
    gap: 12px;
    align-items: center;
}

.div-buttons__edit{
    border: 1px solid var(--gray600);
    border-radius: 4px;
    padding: 5px 8px;
    background-color: transparent;
    color: var(--gray100);
    font-size: 0.875rem;
    font-weight: 500;
}

.div-buttons__delete{
    border-radius: 4px;
    padding: 5px 8px;
    font-size: 0.875rem;
    font-weight: 500;
    background-color: var(--gray700);
    border: 1px solid var(--gray700);
    color: var(--gray400);
}

.post__title-post{
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--gray100);
}

.post__text-post{
    color: var(--gray300);
    font-weight: 400;
    font-size: 1rem;
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.post__access-publication{
    color: var(--brand100);
    font-size: 1rem;
    font-weight: 500;
    background: none;
    width: 158px;
    padding: 0;
    text-align: left;
}

.avatar__div-logout{
    width: 215px;
    height: 117px;
    display: none;
    flex-direction: column;
    padding: 22px 17px;
    gap: 28px;
    justify-content: center;
    position: absolute;
    top: 100%;
    right: 0;
    box-shadow: 2px 5px 15px 0px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    animation: logout 0.5s;
}

@keyframes logout {
    from {
        transform: translateY(-15px);
        opacity: 0;
    } 
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.div-logout__username{
    font-size: 1rem;
    font-weight: 500;
    color: var(--gray100);
}

.div-logout__div-information{
    display: flex;
    align-items: center;
    gap: 20px;
}

.div-information__img-logout{
    width: 14px;
    height: 21px;
}

.img-logout__img{
    object-fit: contain;
}

.div-information__logout-account{
    columns: var(--gray100);
    font-weight: 500;
    font-size: 0.875rem;
    background-color: transparent;
    text-align: center;
}

.div-profile__avatar{
    position: relative;

}