.main{
    display: flex;
    height: 100%;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.main__section-petinfo-login{
    height: 479px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    width: 393px;
}

.section-petinfo-login__title{
    color: var(--gray100);
    font-size: 2rem;
    font-weight: 600;
}

.section-petinfo-login__subtitle{
    color: var(--gray100);
    font-size: 2rem;
    font-weight: 600;
    line-height: 3rem;
}

.subtitle__blue{
    color: var(--brand100);
}

.section-petinfo-login__description{
    color: var(--gray300);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    width: 320px;
}

.section-petinfo-login__img{
    width: 297px;
    height: 215px;
}

.main__form-login{
    height: 600px;
    padding: 44px 24px;
    color: var(--gray100);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 26px;
    width: 368px;
    border: 1px solid var(--gray600);
    border-radius: 4px;
    justify-content: space-between;
}

.form-login__title{
    font-size: 1.25rem;
    font-weight: 500;
}

.form-login__div-input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    width: 100%;
}

.div-input__input{
    background-color: var(--gray800);
    border-radius: 4px;
    padding-left: 16px;
    height: 44px;
    border: 1px solid var(--gray600);
}

.div-input__input::placeholder{
    color: var(--gray400);
}

.div-input__label{
    color: var(--gray100);
    font-weight: 500;
    font-size: 1rem;
}

.form-login__access{
    width: 100%;
    color: var(--gray900);
    background-color: var(--brand100);
    padding: 10px 0;
    font-weight: 500;
    font-size: 1rem;
}

.form-login__question{
    font-size: 0.875rem;
    font-weight: 500;
}

.form-login__description{
    color: var(--gray300);
    font-weight: 400;
    font-size: 0.875rem;
    text-align: center;
    line-height: 21px;
}

.form-login__return-register{
    width: 100%;
    padding: 10px 0;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    border: 1px solid var(--gray600);
    text-decoration: none;
    color: var(--gray100);
}

.div-input__input--error{
    border: 1px solid var(--alert100);
}

.div-input__message-error{
    color: var(--alert100);
    font-weight: 400;
    font-size: 0.875rem;
}

.loader--hidden{
    visibility: hidden;
}

.loader {
    box-sizing: border-box;
    display: inline-block;
    width: 8px; 
    height: 13px;
    border-top: 0.8px solid #fff;
    border-bottom: 0.8px solid #fff;
    position: relative;
    background: linear-gradient(#d593e2 4px, transparent 0) no-repeat;
    background-size: 0.35px 6px;
    background-position: 50% 0px;
    animation: spinx 2s linear infinite;
}

.loader:before, .loader:after {
    content: "";
    width: 6px; 
    left: 50%;
    height: 4px;
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.4);
    border-radius: 0 0 2px 2px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: 0 0px;
    animation: lqt 2s linear infinite;
}

.loader:after {
    top: auto;
    bottom: 0;
    border-radius: 2px 2px 0 0;
    animation: lqb 2s linear infinite;
}

@keyframes lqt {
    0%, 100% {
        background-image: linear-gradient(#d593e2 4px, transparent 0); 
        background-position: 0% 0px;
    }
    50% {
        background-image: linear-gradient(#d593e2 4px, transparent 0); 
        background-position: 0% 4px; 
    }
    50.1% {
        background-image: linear-gradient(#d593e2 4px, transparent 0); 
        background-position: 0% -4px; 
    }
}

@keyframes lqb {
    0% {
        background-image: linear-gradient(#d593e2 4px, transparent 0); 
        background-position: 0 4px; 
    }
    100% {
        background-image: linear-gradient(#d593e2 4px, transparent 0);  
        background-position: 0 -4px; 
    }
}

@keyframes spinx {
    0%, 49% {
        transform: rotate(0deg);
        background-position: 50% 3.5px;
    }
    51%, 98% {
        transform: rotate(180deg);
        background-position: 50% 0.3px;
    }
    100% {
        transform: rotate(360deg);
        background-position: 50% 3.5px; 
    }
}

.fade{
    background-color: rgba(0, 0, 0, 0.301);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1000;
}

.fade--hidden{
    visibility: hidden;
}